*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.bg-img{
    background-image: url(./images/shapes/top-banner.png);
    background-repeat: no-repeat;
    /* background-size: 1000px; */
}
.container{
    width: 1200px;
    margin: 0px auto;
}
h1{
    font-size: 35px;
}
.orange{
    color: rgb(245, 185, 75);
}
.line-hight{
    line-height: 4rem;
    color: rgb(20, 15, 15);
}
.border{
    border-left: 5px solid #FF577F;
    border-radius: 5px;
    padding-left: 15px;
}
.text{
    margin-top: 100px;
    margin-left: 20px;
}
.para{
    margin-top: 10px;
    color: gray;
    line-height: 1.5rem;
    text-align: justify;
}
.button{
    display: inline-block;
    margin-top: 20px;
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    background-color: #FF577F;
    border-radius: 6px;
}
.small-text{
    font-size: 13px;
    margin-top: 20px;
}
.half-width{
    width: 47%;
}
.half-width img{
    width: 60%;
    margin-left: 100px;
}
.flex{
    display: flex;
}
/* misson section */
.misson{
    margin-bottom: 70px;
}
.witdh-cng{
    width: 30%;
    padding: 20px;
    border-radius: 9px;
}
.witdh-cng img{
    width: 50%;
}
.ml{
    margin-right: 30px;
}
.text-center{
    text-align: center;
    margin-bottom: 35px;
    margin-top: 50px;
}
.child-one{
    background-color: rgb(250, 231, 208);
}
.child-tow{
    background-color: #f77895;
}
.child-three{
    background-color: rgb(181, 191, 245);
}
.h3{
    margin-bottom: 20px;
    font-size: 25px;
}
.para-one{
    /* text-align: justify; */
    padding-bottom: 50px;
}
div .imgs {
    width: 30%;
    margin-right: 250px;
}
.imgs img{
    width: 100%;
}
.container .text-developer{
    width: 40%;
}
.snd-bg{
    background-image: url(./images/shapes/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    margin-bottom: 70px;
    background-size: 50px;
}
.Global-developer{
    margin-right: 250px;
}
.trd-bg{
    background-image: url(./images/shapes/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 50px;
    margin-bottom: 70px;
}
.foot{
    background-color:#f77895;
    text-align: center;
    border-radius: 2px;
}
.foot h3{
    padding: 20px 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.foot p{
    padding-bottom: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}